<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Explore Us</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Experts College of Engineering is the first self-financing Co-educational Engineering College in Madurai, started in 1994 by Munificence of Philanthropist which is a linguistic minority in Tamilnadu of eminent industrialists and academicians led by enthusiastic, educationalist and industrialist and Certified in All India Council for Technical Education, New Delhi and Is affiliated to Anna University, Chennai</p></div>
            <div class="col-lg-4 me-auto"><p class="lead"> “Do something now; your future self will thank you for later.” </p>
            <p class="lead"> “Excellence is not a skill. It is an attitude.” </p></div>
        </div>
    </div>
</section>