<div class="py-5 text-center">
  <div class="container">
    <img src="/assets/login.jpg">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> !! Admission Section !!</h2>

    <hr class="featurette-divider">

    <h2> --  Enquiry  Form --</h2>
    <p class="lead"> Fill The Form Below To Get Admission Into Expert College </p>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
      <form id="admissionForm" data-sb-form-api-token="API_TOKEN" #insertadmission="ngForm" (ngSubmit)="insertAdmission(insertadmission)" >
        <!--First Name input-->
        <div class="form-floating mb-3">
          <input class="form-control" id="firstname" type="text" name="firstname" placeholder="Enter your firstname..."
            data-sb-validations="required" ngModel />
          <label for="firstname">First name</label>
          <div class="invalid-feedback" data-sb-feedback="firstname:required">A firstname is required.</div>
        </div>
        <!--  Last Name input-->
        <div class="form-floating mb-3">
          <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Enter your lastname..."
            data-sb-validations="required" ngModel />
          <label for="lastname">Last name</label>
          <div class="invalid-feedback" data-sb-feedback="lastname:required">A lastname is required.</div>
        </div>
        <!-- Email address input-->
        <div class="form-floating mb-3">
          <input class="form-control" id="emailid" type="email" name="email" placeholder="name@example.com"
            data-sb-validations="required,email" ngModel />
          <label for="email">Email address</label>
          <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
          <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
        </div>

        <div class="form-floating mb-3">
          <label for="department" class="form-label">Deparatments</label>
          <select class="form-select" id="department" name="department" required ngModel >
            <option>Select...</option>
            <option value="CSE">CSE</option>
            <option value="EEE">EEE</option>
            <option value="ECE"> ECE</option>
            <option value="IT"> IT</option>
            <option value="Auto"> Auto</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid department.
          </div>
      </div>

      <div class="form-floating mb-3">
        <label for="entry" class="form-label">Entry</label>
        <select class="form-select" id="entry" name="entry" required ngModel>
          <option>Select...</option>
          <option value="First">First</option>
          <option value="Lateral">Lateral</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid entry.
        </div>
    </div>


        <!--  Address input-->
        <div class="form-floating mb-3">
          <input class="form-control" id="address" type="address" name="address" placeholder="1234 Main St"
            data-sb-validations="required,address" ngModel />
          <label for="email">Address</label>
          <div class="invalid-feedback" data-sb-feedback="address:required">An address is required.</div>
          <div class="invalid-feedback" data-sb-feedback="address:address">Address is not valid.</div>
        </div>

        <!-- Phone number input-->
        <div class="form-floating mb-3">
          <input class="form-control" id="phonenumber" type="tel" name="phonenumber" placeholder="(+91) ***** "
            data-sb-validations="required" ngModel />
          <label for="phonenumber">Phone number</label>
          <div class="invalid-feedback" data-sb-feedback="phonenumber:required">A phone number is required.</div>
        </div>


        <div class="form-floating mb-3">
        <label for="country" class="form-label">Country</label>
        <select class="form-select" id="country" name="country" required ngModel>
          <option>Select...</option>
          <option value="United States">United States</option>
          <option value="India">India</option>
          <option value="Australia"> Australia</option>
          <option value="Singapore"> Singapore</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
    </div>

    <div class="form-floating mb-3">
      <label for="state" class="form-label">State</label>
      <select class="form-select" id="state" name="state" required ngModel>
        <option >Select...</option>
        <option value="Kerala">Kerala</option>
        <option value="TamilNadu">TamilNadu</option>
        <option value="Maharastra">Maharastra</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
      </select>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit" name="register"> Register</button>
    </form>
  </div>
</div>