<div class="container">
    
    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-bg-dark" align="center">
        <div class="col-md-6 px-0" >
          <h1 class="display-4 fst-italic">!!!Welcome To Experts College -- Computer Science Deparatment Section!!!</h1>
          <p class="lead my-3"> “Good specifications will always improve programmer productivity far better than any programming tool or technique.” </p>
        </div>
      </div>
    
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Mission</strong>
              <h3 class="mb-0"> Computer Science - Mission </h3>
              <p class="card-text mb-auto">--"The mission of the Computer Science program is to prepare students to be research and development leaders in computer science and computer technology!!!"--</p>
              <p class="card-text mb-auto">--"To this end, the program is a catalyst and a resource for shaping the future of the broad discipline of computer science."--</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="/assets/Temp-200x250.jpg">
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Vision</strong>
              <h3 class="mb-0"> Computer Science - Vision </h3>
              <p class="card-text mb-auto">--"The vision of the Computer Science program is to create, share, and apply knowledge in Computer Science, including in interdisciplinary areas that extend the scope of Computer Science and benefit humanity!!!"--</p>
              <p class="card-text mb-auto">--" To educate students to be successful, ethical, and effective problem-solvers and life-long learners "--</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="/assets/Temp-200x250.jpg">
            </div>
          </div>
        </div>
      </div>
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Lets See About The Deparatment!!
          </h3>
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">About Section</h2>

            <p>Computer Science is the study of computers and computational systems. Unlike electrical and computer engineers, computer scientists deal mostly with software and software systems; this includes their theory, design, development, and application.</p>
            <hr>
           <h2>Head Of The Department</h2>
            <blockquote class="blockquote">
              <p> Mr. Rajesh kumar K M (phd.,)</p>
            </blockquote>
            <h3> Sincere And Dedicated Head Of The Deparatment</h3>
             <ul>
              <li>Leadership</li>
              <li> Communication Skills</li>
              <li> Creative Thinking</li>
             </ul>
           </article>
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">!!Achievements:!!</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Achievements</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Giving a great presentation at work.</td>  
                </tr>
                <tr>
                  <td>Beating sales targets.</td>
                </tr>
                <tr>
                  <td>Training for and completing a marathon.</td>
                </tr>
                <tr>
                  <td>Organizing a successful charity event.</td>
                </tr>
                <tr>
                  <td>Mentoring a coworker or fellow student.</td>
                </tr>
              </tbody>
            </table>
            <h3>Students Placement And Counts In Year By:</h3>
           
            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Year</th>
                  <th>Counts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total number of students admitted in first year</td>
                  <td>2021 - 2022</td>
                  <td>118</td>
                </tr>
                <tr>
                  <td>Total number of students admitted in the B.E (CSE) Program</td>
                  <td>2021 - 2022</td>
                  <td>118</td>
                </tr>
                <tr>
                  <td>Placed Students</td>
                  <td>2021 - 2022</td>
                  <td>98</td>
                </tr>
              </tbody>
            </table>

        </article>
        </div>
    