<div class="container">
    
    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-bg-dark" align="center">
        <div class="col-md-6 px-0" >
          <h1 class="display-4 fst-italic">!!!Welcome To Experts College -- Electronic And Communication Deparatment Section!!!</h1>
          <p class="lead my-3"> “Good specifications will always improve programmer productivity far better than any programming tool or technique.” </p>
        </div>
      </div>
    
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Mission</strong>
              <h3 class="mb-0"> Electronic And Communication - Mission </h3>
              <p class="card-text mb-auto">--"The mission of the Electronic And Communication program is to prepare students to be research and development leaders in Electronic And Communication and computer technology!!!"--</p>
              <p class="card-text mb-auto">--"To this end, the program is a catalyst and a resource for shaping the future of the broad discipline of Electronic And Communication."--</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="/assets/Temp-200x250.jpg">
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Vision</strong>
              <h3 class="mb-0"> Electronic And Communication - Vision </h3>
              <p class="card-text mb-auto">--"The vision of the Electronic And Communication program is to create, share, and apply knowledge in Electronic And Communication, including in interdisciplinary areas that extend the scope of Electronic And Communication and benefit humanity!!!"--</p>
              <p class="card-text mb-auto">--" To educate students to be successful, ethical, and effective problem-solvers and life-long learners "--</p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="/assets/Temp-200x250.jpg">
            </div>
          </div>
        </div>
      </div>
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Lets See About The Deparatment!!
          </h3>
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">About Section</h2>

            <p>Electronic And Communication is the study of computers and computational systems. Unlike electrical and computer engineers, computer scientists deal mostly with software and software systems; this includes their theory, design, development, and application.</p>
            <hr>
            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
            <h2>Head Of The Department</h2>
            <blockquote class="blockquote">
              <p> Mrs. Lakshmi M K (phd.,)</p>
            </blockquote>
            <h3> Sincere And Dedicated Head Of The Deparatment</h3>
             <ul>
              <li>Leadership</li>
              <li> Communication Skills</li>
              <li> Creative Thinking</li>
             </ul>
           </article>
    
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">!!Achievements:!!</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Achievements</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Giving a great presentation at work.</td>  
                </tr>
                <tr>
                  <td>Beating sales targets.</td>
                </tr>
                <tr>
                  <td>Training for and completing a marathon.</td>
                </tr>
                <tr>
                  <td>Organizing a successful charity event.</td>
                </tr>
                <tr>
                  <td>Mentoring a coworker or fellow student.</td>
                </tr>
              </tbody>
            </table>
            <h3>Students Placement And Counts In Year By:</h3>
           
            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Year</th>
                  <th>Counts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Total number of students admitted in first year</td>
                  <td>2021 - 2022</td>
                  <td>118</td>
                </tr>
                <tr>
                  <td>Total number of students admitted in the B.E (ECE) Program</td>
                  <td>2021 - 2022</td>
                  <td>118</td>
                </tr>
                <tr>
                  <td>Placed Students</td>
                  <td>2021 - 2022</td>
                  <td>98</td>
                </tr>
              </tbody>
            </table>

        </article>
        </div>
    