<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    2215 John Daniel Drive
                    <br />
                    Clark, MO 65243
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/"><i class="fab fa-fw fa-facebook-f"></i></a>FaceBook
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/login"><i class="fab fa-fw fa-twitter"></i></a>Twitter
                <a class="btn btn-outline-light btn-social mx-1" href="https://LinkedIn.com/login"><i class="fab fa-fw fa-linkedin-in"></i></a>LinkedIn
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Experts</h4>
                <p class="lead mb-0">
                    Experts Are For Students:
                    “Do something now; your future self will thank you for later.” 
                    <a href="http://localhost:4200/">Experts College</a>
                    .
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
</div>