<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="studentnavi">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Welcome To Expert College</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Student
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/student"
                        routerLinkActive="active">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/loginc"
                        routerLinkActive="active">LogOut</a></li>
            </ul>

        </div>

    </div>
</nav>


<!-- Contact Section-->
<section class="page-section" id="mymarks">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Student Login</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="rollno" type="text" name="rollno"
                            placeholder="Enter RollNumber..." data-sb-validations="required" ngModel />
                        <label for="rollno">Enter RollNumber</label>
                        <div class="invalid-feedback" data-sb-feedback="rollno:required">A RollNumber is required.</div>
                    </div>
                    <button class="w-100 btn btn-primary btn-lg" type="submit" routerLink="/mymarks"> View Student
                        Marks</button><br><br>
                </form>
            </div>
            
        </div>
        <div class="view" id="view">
            <h2>----View Of Data Present In Students----</h2>
            <table border="2" align="center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Rollno</th>
                        <th>Deparatment</th>
                        <th>Year</th>
                        <th>Subject</th>
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of studentmarks">
                        <td>{{s.id}}</td>
                        <td>{{s.deparatment}}</td>
                        <td>{{s.rollno}}</td>
                        <td>{{s.year}}</td>
                        <td>{{s.subject}}</td>
                        <td>{{s.mark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>