  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="staffnavi">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Welcome To Expert College</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Staff
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/staff" routerLinkActive="active">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/loginc" routerLinkActive="active">LogOut</a></li>
            </ul>
              		
        </div>
        
    </div>
</nav>



<div class="container" id="viewstaff">

    <main class="container">

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Lets See About Your Details Staff!!
                </h3>

                <article class="blog-post">
                    <blockquote class="blockquote">
                        <p> Mrs. Jhansi Rani B E(BSE..,)</p>
                    </blockquote> 
                    <h3> Sincere Work On Sharing Your Knowledge</h3>
                    <ul>
                        <li>Teaching</li>
                        <li> Communication Skills</li>
                        <li> Creative Thinking</li>
                    </ul>
                </article>

                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">!!Achievements:!!</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Achievements</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Giving a great presentation at work.</td>
                            </tr>
                            <tr>
                                <td>Beating sales targets.</td>
                            </tr>
                            <tr>
                                <td>Training for and completing a marathon.</td>
                            </tr>
                            <tr>
                                <td>Organizing a successful charity event.</td>
                            </tr>
                            <tr>
                                <td>Mentoring a coworker or fellow student.</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3> Personal Details :</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>Jhansi Rani B E</td>
                            </tr>
                            <tr>
                                <td>Qualification:</td>
                                <td>BSE</td>
                            </tr>
                            <tr>
                                <td>Age:</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Contact Number:</td>
                                <td>8787875987</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>Maniram villas,chennai</td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>TamilNadu</td>
                            </tr>
                            <tr>
                                <td>Country:</td>
                                <td>India</td>
                            </tr>


                        </tbody>
                    </table>

                </article>
            </div>