<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="staffnavi">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Welcome To Expert College</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            Admin
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/admin"
                        routerLinkActive="active">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/loginc"
                        routerLinkActive="active">LogOut</a></li>
            </ul>

        </div>

    </div>
</nav>


<!-- Contact Section-->
<section class="page-section" id="viewstudentmarks">
    <div class="container-fluid">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"> View Student Marks </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center" id="view">
            <div class="col-lg-8 col-xl-7">
                <form #d="ngForm" (ngSubmit)="getById(d.value)">
                    <!-- Roll Number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="rollno" type="text" name="rollno" ngModel="rollno" />
                        <label for="rollno">Roll Number</label>
                    </div>

                    <br>
                    <button class="w-100 btn btn-primary btn-lg" type="submit" name="insert" value="ViewbyId"> View By Rollno</button>
                </form>
                <hr class="my-4">
                <h3 class="text-center m-20"> Students Records</h3>
                <table border="2" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th> Rollno </th>
                            <th> Name </th>
                            <th>Deparatment</th>
                            <th>Mark</th>
                            <th>Subject</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{studentmarks.id}} </td>
                            <td> {{studentmarks.rollno}} </td>
                            <td>{{studentmarks.name}}</td>
                            <td>{{studentmarks.deparatment}}</td>
                            <td>{{studentmarks.mark}}</td>
                            <td>{{studentmarks.subject}}</td>
                            <td>{{studentmarks.year}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

    </div>
</section>